td{
    width: 1.5em;
    height: 1.5em;
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	text-align: center;
}
#tablero{
    padding: 10px;
}
#numMinas{
    padding: 10px;
}
#content{
    width: fit-content;
    background-color: #BBBBBB;
}
.destapado{
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}
.minaEncontrada{
    background-color: red;
}

#inputMinas{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: "Goudy Old Style";
}
#numMinas div{
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;
    color: #333333;
    border-left: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 4px;
}
