/*
class .
id #
*/
td{
    width: 1.5em;
    height: 1.5em;
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
	border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	text-align: center;
}

#tablero{
    padding: 10px;
    background-color: #BBBBBB;
}
#numMinas{
    padding: 10px 10px 2px 10px;
    background-color: #BBBBBB;
}
#numMinas div{
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;
    color: #333333;
    border-left: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 4px;
}

#content,body{
    width: 18.5%;
    width: fit-content;

}
.destapado{
	font-family: "Lucida Console","Courier New", Courier, monospace;
	
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	text-shadow: 1px 1px 2px #999999;
}
.minaEncontrada{
	font-family: "Lucida Console","Courier New", Courier, monospace;
	font-weight: bold;
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	text-shadow: 1px 1px 2px #999999;
    background-color: red;
}
#inputMinas{
    padding: 2px 10px 2px 10px;
    background-color: #BBBBBB;
    /* border-left: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9; */
}
