td{
    width: 24px;
    height: 24px;
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	text-align: center;
}
#idTablero{
    padding: 10px;
}

.destapado{
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
    font-weight: bold;
}
.minaEncontrada{
    background-color: red;
}
#header div{
    border: 1px solid #D3D3D3;
    /* border-left: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3; */
    padding: 10px;

}
#title{
    background-color: darkgrey;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: "Goudy Old Style";
    font-size: x-large;
}

#content{
    margin: auto;
    width: fit-content;
    background-color: #BBBBBB;
}